body {
  background-color: #4286f4;
  background-image: url("../image/flipflag2.jpg");
  background-size: cover;
  margin-left: 2%;
  margin-right: 5%
}
h1 {
  font-family: cursive;
  text-align: center;
  color: yellow;
}
img{
  width: 800px;
  height:auto;
  padding-left: 25%;
}

.text-container {
  padding: 10%;
}
#monsoon {
  image-orientation:25%;
}
#fiesta3 {
  image-orientation: float-left;
}

#yikes {
  text-indent: 25%;
  font-family: fantasy;
  font-style: italic;
  image-resolution: snap;
}
